/build
/dist
dist.zip
*.zip
*.manifest
*.toc
*.pkg
*.pyc
*.html
*.exe
*.pyc
__pycache__/main.cpython-39.pyc
*.pyc
__pycache__/main.cpython-39.pyc
src/commentexample.py
*.pyc
*.pyc
__pycache__/main.cpython-39.pyc
